{{! context is a group}}
{{#if sliders.length}}
  <div class="contentBlock">
    <div class="contentBlockHeader">
      <span>Sliders</span>
    </div>
    <div class="contentBlockElement"></div>
  </div>
  {{#each sliders}}
    <div class="contentBlock">
        <div class="contentBlockText">
          <p>{{this.name}}</p>
        </div>
        <div class="contentBlockElement">
          <label class="switch">
            <input type="checkbox" id={{this.id}} onclick="sendBool(this,this.checked)" touchstart="sendBoolTouch(event, this, this.checked)">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
  {{/each}}
{{/if}}