{{! context is a group}}
{{#if inputs.length}}
  <div class="contentBlock">
    <div class="contentBlockHeader">
      <span>Inputs</span>
    </div>
    <div class="contentBlockElement"></div>
  </div>
  {{#each inputs}}
    <div class="contentBlock">
        <div class="contentBlockText">
          <p>{{this.name}}</p>
        </div>
        <div class="contentBlockElement">
          <div class="indicator" id={{this.id}}></div>
        </div>
      </div>
  {{/each}}
{{/if}}